<ion-header>
  <ion-navbar>
    <ion-title>
      Control de Licores
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-fab top right edge>
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
        <ion-fab-list>
          <button ion-fab><ion-icon name="ios-keypad-outline"></ion-icon></button>
          <button (click)="nuevoLicor()" ion-fab><ion-icon name="ios-beer-outline"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

        <ion-item-group *ngFor="let tipo of tipos_licor">
          <ion-item-divider color="light" >{{tipo.nombre}}</ion-item-divider>
          <div *ngFor="let licor of licores" >
          <ion-item (click)="verLicor(licor.id)" *ngIf="licor.fk_tipolicor == tipo.id" >{{ licor.nombre }}</ion-item>
        </div>
        </ion-item-group>
</ion-content>
